In [1]:
def process_stats_model(section_name,sensorname,sensornumber,sensorvalue):
    # print('[*] ',section_name)
    
    def assign_value(sensorvalue,emergenzy=[],warning=[]):
      status = 'normal'
      if sensorvalue < warning[0] or sensorvalue > warning[1] :
        status = 'warning'
      if sensorvalue < emergenzy[0] or sensorvalue > emergenzy[1]:
        status = 'emergenzy'
      return status

    def process_R1L1_J2(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
      #temp 
      if sensorname == 'temperature' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[20,50],warning=[24.5,44.5])
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[18.5,24],warning=[19.0,24.0])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[14,22],warning=[17,22])
      if sensorname == 'current' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=[12,20],warning=[15,19])
      if sensorname == 'current' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=[17,25],warning=[19.0,24.0])
      if sensorname == 'current' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=[13,21],warning=[15,20])
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[234,242],warning=[235,240])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[236,244],warning=[237,243])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[237,245],warning=[238,243])
      if sensorname == 'voltage' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=[231,241],warning=[234,239])
      if sensorname == 'voltage' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=[235,245],warning=[237,242])
      if sensorname == 'voltage' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=[233,243],warning=[236,240])
      
      return status

    def process_R1L1_J3(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
      #temp 
      if sensorname == 'temperature' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[9,65],warning=[9,57])
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[13.5,87.875],warning=[14,64.75])
      if sensorname == 'current' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[13.5,86.25],warning=[14,63])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[14.875,92.375],warning=[16,64.35])
      if sensorname == 'current' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=[13,91.5],warning=[16,65.75])
      if sensorname == 'current' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=[1,36],warning=[7,34])
      if sensorname == 'current' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=[1,36],warning=[7,33])
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[229.5,241.5],warning=[232,238])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[233,241],warning=[234,240.3])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[234,242],warning=[235,244.6])
      if sensorname == 'voltage' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=[228,243],warning=[231,237])
      if sensorname == 'voltage' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=[232,242],warning=[235,239])
      if sensorname == 'voltage' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=[234,245],warning=[236,245])
      
      return status

    def process_R1L1_R1(sensorname,sensornumber,sensorvalue):
      print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
      #temp 
      if sensorname == 'temperature' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[14,65],warning=[15.5,59.5])
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[34,105],warning=[37,94])
      if sensorname == 'current' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[27.5,99],warning=[32,92])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[29,89],warning=[34,83])
      if sensorname == 'current' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=[27.5,95.5],warning=[31,89])
      if sensorname == 'current' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=[36,102],warning=[40,93])
      if sensorname == 'current' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=[34,104],warning=[36,95])
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[236,244],warning=[237,243])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[234,242],warning=[235,241])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[235,243],warning=[236,242])
      if sensorname == 'voltage' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=[233,243],warning=[235,241])
      if sensorname == 'voltage' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=[232,247],warning=[237,243])
      if sensorname == 'voltage' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=[232,242],warning=[233,240])
      
      return status
    
    def process_R1L1_S1(sensorname,sensornumber,sensorvalue):
      print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
    
      #current
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[4.5,8.5],warning=[6,8])
  
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[236,244],warning=[237,243])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[233,241],warning=[234,239])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[236,241],warning=[236,241])
      return status

    def process_R1L1_S2(sensorname,sensornumber,sensorvalue):
      print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
    
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[10.5,15],warning=[11,14])
      if sensorname == 'current' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[10.5,15],warning=[11,14])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[10.5,15],warning=[11,14])
  
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[235,243],warning=[237,243])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[234,242],warning=[236,241])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[232,242],warning=[234,240])
      return status
    
    def process_R1L1_S3(sensorname,sensornumber,sensorvalue):
      print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
    
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[10.5,15],warning=[11,14])

      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[9,14],warning=[10,13])
  
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=[235,243],warning=[237,242])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=[233,241],warning=[234,240])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=[233,243],warning=[236,241])
      return status


    options = {
        'R1L1-J2':process_R1L1_J2,
        'R1L1-J3':process_R1L1_J3,
        'R1L1-S1':process_R1L1_S1,
        'R1L1-S2':process_R1L1_S2,
        'R1L1-S3':process_R1L1_S3,
        'R1L1-R1':process_R1L1_R1,
    }

    return options[section_name](sensorname,sensornumber,sensorvalue)

In [2]:
section_name = 'R1L1-R1'
sensorname = 'current'
sensornumber = '3'
sensorvalue = 74


status = process_stats_model(section_name,sensorname,sensornumber,sensorvalue)
status

in R1L1-R1 : current-3 => 74

'normal'

# New code

read csv

In [67]:
import pandas as pd

In [68]:
df = pd.read_excel('data/20-10-21-tranform/threshold_all.xlsx')
df = df.fillna('-1,-1')
df

,Machine,Vol1_warning,Vol2_warning,Vol3_warning,Vol4_warning,Vol5_warning,Vol6_warning,Cur1_warning,Cur2_warning,Cur3_warning,...,Vol4_emergency,Vol5_emergency,Vol6_emergency,Cur1_emergency,Cur2_emergency,Cur3_emergency,Cur4_emergency,Cur5_emergency,Cur6_emergency,temp_emergency
0,R1L1-J2,"233.0,241.0","236.0,244.0","236.0,244.0","232.0,239.0","236.0,243.0","234.0,241.0","18.0,27.0","-1,-1","15.0,25.0",...,"229.0,243.0","229.0,250.0","227.0,248.0","13.0,29.0","-1,-1","11.0,27.0","9.0,25.0","0.0,29.0","9.0,25.0","25.5,45.5"
1,R1L1-J3,"234.0,241.0","233.0,241.0","236.0,243.0","233.0,240.0","234.0,242.0","237.0,244.0","1.241576264763116,1.3866252312223133","1.320710366849028,1.4980826302678285","1.5443899062833246,1.7874825988575813",...,"230.0,244.0","228.0,249.0","230.0,251.0","1.1639617784098546,1.4271370131420211","1.229634387280851,1.5389228485781843","1.4284450632379615,1.8193901227997562","1.1904005941596658,1.4157684656885954","1.4986905379556035,3.0811426465942997","1.258295862210386,1.5346206233841422","17.0,49.0"
2,R1L1-R1,"236.0,243.0","233.0,241.0","233.0,242.0","231.0,241.0","235.0,243.0","232.0,240.0","42.0,94.0","34.0,91.0","41.0,90.0",...,"227.0,248.0","229.0,250.0","226.0,247.0","34.5,99.0","22.5,92.0","34.5,97.5","24.0,91.0","33.5,102.0","34.5,99.0","18.5,54.5"
3,R1L1-S1,"236.0,242.0","233.0,240.0","234.0,241.0","-1,-1","-1,-1","-1,-1","-1,-1","-1,-1","6.0,9.0",...,"-1,-1","-1,-1","-1,-1","-1,-1","-1,-1","4.5,10","-1,-1","-1,-1","-1,-1","-1,-1"
4,R1L1-S2,"236.0,242.0","233.0,241.0","233.0,240.0","-1,-1","-1,-1","-1,-1","11.0,14.0","10.0,12.0","10.0,12.0",...,"-1,-1","-1,-1","-1,-1","10.5,14.5","9.0,12.0","9.0,12.0","-1,-1","-1,-1","-1,-1","-1,-1"
5,R1L1-S3,"236.0,243.0","232.0,240.0","234.0,241.0","-1,-1","-1,-1","-1,-1","10.0,12.0","-1,-1","9.0,11.0",...,"-1,-1","-1,-1","-1,-1","9.0,12.5","-1,-1","8.5,11.5","-1,-1","-1,-1","-1,-1","-1,-1"

In [69]:
df.columns

Index(['Machine', 'Vol1_warning', 'Vol2_warning', 'Vol3_warning',
       'Vol4_warning', 'Vol5_warning', 'Vol6_warning', 'Cur1_warning',
       'Cur2_warning', 'Cur3_warning', 'Cur4_warning', 'Cur5_warning',
       'Cur6_warning', 'temp_warning', 'Vol1_emergency', 'Vol2_emergency',
       'Vol3_emergency', 'Vol4_emergency', 'Vol5_emergency', 'Vol6_emergency',
       'Cur1_emergency', 'Cur2_emergency', 'Cur3_emergency', 'Cur4_emergency',
       'Cur5_emergency', 'Cur6_emergency', 'temp_emergency'],
      dtype='object')

In [70]:
### R1L1_J2
# temp
R1L1_J2_temp_emergency = 0
R1L1_J2_temp_warning = 0

## vol
R1L1_J2_vol_emergency = [0,0,0,0,0,0]
R1L1_J2_vol_warning = [0,0,0,0,0,0]
# cur
R1L1_J2_cur_emergency = [0,0,0,0,0,0]
R1L1_J2_cur_warning = [0,0,0,0,0,0]



### R1L1_J3
# temp
R1L1_J3_temp_emergency = 0
R1L1_J3_temp_warning = 0

## vol
R1L1_J3_vol_emergency = [0,0,0,0,0,0]
R1L1_J3_vol_warning = [0,0,0,0,0,0]
# cur
R1L1_J3_cur_emergency = [0,0,0,0,0,0]
R1L1_J3_cur_warning = [0,0,0,0,0,0]



### R1L1_R1
# temp
R1L1_R1_temp_emergency = 0
R1L1_R1_temp_warning = 0

## vol
R1L1_R1_vol_emergency = [0,0,0,0,0,0]
R1L1_R1_vol_warning = [0,0,0,0,0,0]
# cur
R1L1_R1_cur_emergency = [0,0,0,0,0,0]
R1L1_R1_cur_warning = [0,0,0,0,0,0]



### R1L1_S1
# temp
R1L1_S1_temp_emergency = 0
R1L1_S1_temp_warning = 0

## vol
R1L1_S1_vol_emergency = [0,0,0,0,0,0]
R1L1_S1_vol_warning = [0,0,0,0,0,0]
# cur
R1L1_S1_cur_emergency = [0,0,0,0,0,0]
R1L1_S1_cur_warning = [0,0,0,0,0,0]


### R1L1_S2
# temp
R1L1_S2_temp_emergency = 0
R1L1_S2_temp_warning = 0

## vol
R1L1_S2_vol_emergency = [0,0,0,0,0,0]
R1L1_S2_vol_warning = [0,0,0,0,0,0]
# cur
R1L1_S2_cur_emergency = [0,0,0,0,0,0]
R1L1_S2_cur_warning = [0,0,0,0,0,0]


### R1L1_S3
# temp
R1L1_S3_temp_emergency = 0
R1L1_S3_temp_warning = 0

## vol
R1L1_S3_vol_emergency = [0,0,0,0,0,0]
R1L1_S3_vol_warning = [0,0,0,0,0,0]
# cur
R1L1_S3_cur_emergency = [0,0,0,0,0,0]
R1L1_S3_cur_warning = [0,0,0,0,0,0]

In [71]:
### R1L1_J2
R1L1_J2_temp_emergency = list(map(float, df.iloc[0]['temp_emergency'].split(",")))
R1L1_J2_temp_warning = list(map(float, df.iloc[0]['temp_warning'].split(",")))
for i in range(6):
    R1L1_J2_vol_warning[i] = list(map(float, (df.iloc[0]['Vol'+str(i+1)+'_warning']).split(",")))
    R1L1_J2_cur_warning[i] = list(map(float, (df.iloc[0]['Cur'+str(i+1)+'_warning']).split(",")))
    
    R1L1_J2_vol_emergency[i] = list(map(float, (df.iloc[0]['Vol'+str(i+1)+'_emergency']).split(",")))
    R1L1_J2_cur_emergency[i] = list(map(float, (df.iloc[0]['Cur'+str(i+1)+'_emergency']).split(",")))
    
### R1L1_J3
R1L1_J3_temp_emergency = list(map(float, df.iloc[1]['temp_emergency'].split(",")))
R1L1_J3_temp_warning = list(map(float, df.iloc[1]['temp_warning'].split(",")))
for i in range(6):
    R1L1_J3_vol_warning[i] = list(map(float, (df.iloc[1]['Vol'+str(i+1)+'_warning']).split(",")))
    R1L1_J3_cur_warning[i] =  list(map(float, (df.iloc[1]['Cur'+str(i+1)+'_warning']).split(",")))
    
    R1L1_J3_vol_emergency[i] = list(map(float, (df.iloc[1]['Vol'+str(i+1)+'_emergency']).split(",")))
    R1L1_J3_cur_emergency[i] = list(map(float, (df.iloc[1]['Cur'+str(i+1)+'_emergency']).split(",")))
    
### R1L1_R1
R1L1_R1_temp_emergency = list(map(float, df.iloc[2]['temp_emergency'].split(",")))
R1L1_R1_temp_warning = list(map(float, df.iloc[2]['temp_warning'].split(",")))
for i in range(6):
    R1L1_R1_vol_warning[i] = list(map(float, (df.iloc[2]['Vol'+str(i+1)+'_warning']).split(",")))
    R1L1_R1_cur_warning[i] =  list(map(float, (df.iloc[2]['Cur'+str(i+1)+'_warning']).split(",")))
    
    R1L1_R1_vol_emergency[i] = list(map(float, (df.iloc[2]['Vol'+str(i+1)+'_emergency']).split(",")))
    R1L1_R1_cur_emergency[i] = list(map(float, (df.iloc[2]['Cur'+str(i+1)+'_emergency']).split(",")))
    
    
### R1L1_S1
R1L1_S1_temp_emergency = list(map(float, df.iloc[3]['temp_emergency'].split(",")))
R1L1_S1_temp_warning = list(map(float, df.iloc[3]['temp_warning'].split(",")))
for i in range(6):
    R1L1_S1_vol_warning[i] = list(map(float, (df.iloc[3]['Vol'+str(i+1)+'_warning']).split(",")))
    R1L1_S1_cur_warning[i] =  list(map(float, (df.iloc[3]['Cur'+str(i+1)+'_warning']).split(",")))
    
    R1L1_S1_vol_emergency[i] = list(map(float, (df.iloc[3]['Vol'+str(i+1)+'_emergency']).split(",")))
    R1L1_S1_cur_emergency[i] = list(map(float, (df.iloc[3]['Cur'+str(i+1)+'_emergency']).split(",")))
    
    
### R1L1_S2
R1L1_S2_temp_emergency = list(map(float, df.iloc[4]['temp_emergency'].split(",")))
R1L1_S2_temp_warning = list(map(float, df.iloc[4]['temp_warning'].split(",")))
for i in range(6):
    R1L1_S2_vol_warning[i] = list(map(float, (df.iloc[4]['Vol'+str(i+1)+'_warning']).split(",")))
    R1L1_S2_cur_warning[i] =  list(map(float, (df.iloc[4]['Cur'+str(i+1)+'_warning']).split(",")))
    
    R1L1_S2_vol_emergency[i] = list(map(float, (df.iloc[4]['Vol'+str(i+1)+'_emergency']).split(",")))
    R1L1_S2_cur_emergency[i] = list(map(float, (df.iloc[4]['Cur'+str(i+1)+'_emergency']).split(",")))
    
    
### R1L1_S3
R1L1_S3_temp_emergency = list(map(float, df.iloc[5]['temp_emergency'].split(",")))
R1L1_S3_temp_warning = list(map(float, df.iloc[5]['temp_warning'].split(",")))
for i in range(6):
    R1L1_S3_vol_warning[i] = list(map(float, (df.iloc[5]['Vol'+str(i+1)+'_warning']).split(",")))
    R1L1_S3_cur_warning[i] =  list(map(float, (df.iloc[5]['Cur'+str(i+1)+'_warning']).split(",")))
    
    R1L1_S3_vol_emergency[i] = list(map(float, (df.iloc[5]['Vol'+str(i+1)+'_emergency']).split(",")))
    R1L1_S3_cur_emergency[i] = list(map(float, (df.iloc[5]['Cur'+str(i+1)+'_emergency']).split(",")))

 **recheck**

In [72]:
print(R1L1_S2_vol_warning)
print('')
print(R1L1_S2_cur_warning)
print('')
print(R1L1_S2_vol_emergency)
print('')
print(R1L1_S2_cur_emergency)

[[236.0, 242.0], [233.0, 241.0], [233.0, 240.0], [-1.0, -1.0], [-1.0, -1.0], [-1.0, -1.0]]

[[11.0, 14.0], [10.0, 12.0], [10.0, 12.0], [-1.0, -1.0], [-1.0, -1.0], [-1.0, -1.0]]

[[229.0, 250.0], [231.0, 245.0], [226.0, 247.0], [-1.0, -1.0], [-1.0, -1.0], [-1.0, -1.0]]

[[10.5, 14.5], [9.0, 12.0], [9.0, 12.0], [-1.0, -1.0], [-1.0, -1.0], [-1.0, -1.0]]

In [74]:
df.iloc[1]

Machine                                         R1L1-J3
Vol1_warning                                234.0,241.0
Vol2_warning                                233.0,241.0
Vol3_warning                                236.0,243.0
Vol4_warning                                233.0,240.0
Vol5_warning                                234.0,242.0
Vol6_warning                                237.0,244.0
Cur1_warning       1.241576264763116,1.3866252312223133
Cur2_warning       1.320710366849028,1.4980826302678285
Cur3_warning      1.5443899062833246,1.7874825988575813
Cur4_warning      1.2573404772491041,1.3839571475206007
Cur5_warning       1.0836227184806824,3.260240463812436
Cur6_warning      1.3405846457742188,1.4977972599837854
temp_warning                                  23.0,41.0
Vol1_emergency                              227.0,248.0
Vol2_emergency                              231.0,245.0
Vol3_emergency                              229.0,250.0
Vol4_emergency                              230.0,244.0
Vol5_emergency                              228.0,249.0
Vol6_emergency                              230.0,251.0
Cur1_emergency    1.1639617784098546,1.4271370131420211
Cur2_emergency     1.229634387280851,1.5389228485781843
Cur3_emergency    1.4284450632379615,1.8193901227997562
Cur4_emergency    1.1904005941596658,1.4157684656885954
Cur5_emergency    1.4986905379556035,3.0811426465942997
Cur6_emergency     1.258295862210386,1.5346206233841422
temp_emergency                                17.0,49.0
Name: 1, dtype: object

In [13]:
# list(map(float, R1L1_S2_vol_warning[0].split(",")))

In [14]:
R1L1_J2_cur_warning

[[18.0, 27.0],
 [-1.0, -1.0],
 [15.0, 25.0],
 [14.0, 23.0],
 [0.0, 27.0],
 [14.0, 23.0]]

In [75]:
def process_stats_model(section_name,sensorname,sensornumber,sensorvalue):
    # print('[*] ',section_name)
    
    def assign_value(sensorvalue,emergenzy=[],warning=[]):
      status = 'normal'
      if sensorvalue < warning[0] or sensorvalue > warning[1] :
        status = 'warning'
      if sensorvalue < emergenzy[0] or sensorvalue > emergenzy[1]:
        status = 'emergenzy'
      return status

    def process_R1L1_J2(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
      #temp 
      if sensorname == 'temperature' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_temp_emergency, warning=R1L1_J2_temp_warning)
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_cur_emergency[0],warning= R1L1_J2_cur_warning[0])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_cur_emergency[2],warning=R1L1_J2_cur_warning[2])
      if sensorname == 'current' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_cur_emergency[3],warning=R1L1_J2_cur_warning[3])
      if sensorname == 'current' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_cur_emergency[4],warning=R1L1_J2_cur_warning[4])
      if sensorname == 'current' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_cur_emergency[5],warning=R1L1_J2_cur_warning[5])
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_vol_emergency[0],warning=R1L1_J2_vol_warning[0])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_vol_emergency[1],warning=R1L1_J2_vol_warning[1])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_vol_emergency[2],warning=R1L1_J2_vol_warning[2])
      if sensorname == 'voltage' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_vol_emergency[3],warning=R1L1_J2_vol_warning[3])
      if sensorname == 'voltage' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_vol_emergency[4],warning=R1L1_J2_vol_warning[4])
      if sensorname == 'voltage' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=R1L1_J2_vol_emergency[5],warning=R1L1_J2_vol_warning[5])
      
      return status

    def process_R1L1_J3(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
      #temp 
      if sensorname == 'temperature' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_temp_emergency,warning=R1L1_J3_temp_warning)
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_cur_emergency[0],warning=R1L1_J3_cur_warning[0])
      if sensorname == 'current' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_cur_emergency[1],warning=R1L1_J3_cur_warning[1])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_cur_emergency[2],warning=R1L1_J3_cur_warning[2])
      if sensorname == 'current' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_cur_emergency[3],warning=R1L1_J3_cur_warning[3])
      if sensorname == 'current' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_cur_emergency[4],warning=R1L1_J3_cur_warning[4])
      if sensorname == 'current' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_cur_emergency[5],warning=R1L1_J3_cur_warning[5])
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_vol_emergency[0],warning= R1L1_J3_vol_warning[0])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_vol_emergency[1],warning= R1L1_J3_vol_warning[1])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_vol_emergency[2],warning= R1L1_J3_vol_warning[2])
      if sensorname == 'voltage' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_vol_emergency[3],warning= R1L1_J3_vol_warning[3])
      if sensorname == 'voltage' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_vol_emergency[4],warning= R1L1_J3_vol_warning[4])
      if sensorname == 'voltage' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=R1L1_J3_vol_emergency[5],warning= R1L1_J3_vol_warning[5])
      
      return status

    def process_R1L1_R1(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
      #temp 
      if sensorname == 'temperature' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_temp_emergency,warning=R1L1_R1_temp_warning)
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_cur_emergency[0],warning= R1L1_R1_cur_warning[0])
      if sensorname == 'current' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_cur_emergency[1],warning= R1L1_R1_cur_warning[1])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_cur_emergency[2],warning= R1L1_R1_cur_warning[2])
      if sensorname == 'current' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_cur_emergency[3],warning= R1L1_R1_cur_warning[3])
      if sensorname == 'current' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_cur_emergency[4],warning= R1L1_R1_cur_warning[4])
      if sensorname == 'current' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_cur_emergency[5],warning= R1L1_R1_cur_warning[5])
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_vol_emergency[0],warning=R1L1_R1_vol_warning[0])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_vol_emergency[1],warning=R1L1_R1_vol_warning[1])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_vol_emergency[2],warning=R1L1_R1_vol_warning[2])
      if sensorname == 'voltage' and sensornumber == '4':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_vol_emergency[3],warning=R1L1_R1_vol_warning[3])
      if sensorname == 'voltage' and sensornumber == '5':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_vol_emergency[4],warning=R1L1_R1_vol_warning[4])
      if sensorname == 'voltage' and sensornumber == '6':
        status = assign_value(sensorvalue,emergenzy=R1L1_R1_vol_emergency[5],warning=R1L1_R1_vol_warning[5])
      
      return status
    
    def process_R1L1_S1(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
    
      #current
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy = R1L1_S1_cur_emergency[2],warning = R1L1_S1_cur_warning[2])
  
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_S1_vol_emergency[0],warning= R1L1_S1_vol_warning[0])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_S1_vol_emergency[1],warning= R1L1_S1_vol_warning[1])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_S1_vol_emergency[2],warning= R1L1_S1_vol_warning[2])
      return status

    def process_R1L1_S2(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
    
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_S2_cur_emergency[0],warning=R1L1_S2_cur_warning[0])
      if sensorname == 'current' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_S2_cur_emergency[1],warning=R1L1_S2_cur_warning[1])
      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_S2_cur_emergency[2],warning=R1L1_S2_cur_warning[2])
  
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_S2_vol_emergency[0],warning=R1L1_S2_vol_warning[0])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_S2_vol_emergency[1],warning=R1L1_S2_vol_warning[1])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_S2_vol_emergency[2],warning=R1L1_S2_vol_warning[2])
      return status
    
    def process_R1L1_S3(sensorname,sensornumber,sensorvalue):
      # print(f"in {section_name} : {sensorname}-{sensornumber} => {sensorvalue}")
      status = 'normal'
    
      #current
      if sensorname == 'current' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_S3_cur_emergency[0],warning=R1L1_S3_cur_warning[0])

      if sensorname == 'current' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_S3_cur_emergency[2],warning=R1L1_S3_cur_warning[2])
  
      #voltage
      if sensorname == 'voltage' and sensornumber == '1':
        status = assign_value(sensorvalue,emergenzy=R1L1_S3_vol_emergency[0],warning=R1L1_S3_vol_warning[0])
      if sensorname == 'voltage' and sensornumber == '2':
        status = assign_value(sensorvalue,emergenzy=R1L1_S3_vol_emergency[1],warning=R1L1_S3_vol_warning[1])
      if sensorname == 'voltage' and sensornumber == '3':
        status = assign_value(sensorvalue,emergenzy=R1L1_S3_vol_emergency[2],warning=R1L1_S3_vol_warning[2])
      return status


    options = {
        'R1L1-J2':process_R1L1_J2,
        'R1L1-J3':process_R1L1_J3,
        'R1L1-S1':process_R1L1_S1,
        'R1L1-S2':process_R1L1_S2,
        'R1L1-S3':process_R1L1_S3,
        'R1L1-R1':process_R1L1_R1,
    }

    return options[section_name](sensorname,sensornumber,sensorvalue)

In [76]:
section_name = 'R1L1-R1'
sensorname = 'current'
sensornumber = '3'
sensorvalue = 100


status = process_stats_model(section_name,sensorname,sensornumber,sensorvalue)
status

'emergenzy'

In [77]:
print(R1L1_R1_vol_warning)
print('')
print(R1L1_R1_cur_warning)
print('')
print(R1L1_R1_vol_emergency)
print('')
print(R1L1_R1_cur_emergency)

[[236.0, 243.0], [233.0, 241.0], [233.0, 242.0], [231.0, 241.0], [235.0, 243.0], [232.0, 240.0]]

[[42.0, 94.0], [34.0, 91.0], [41.0, 90.0], [33.0, 89.0], [43.0, 93.0], [41.0, 94.0]]

[[229.0, 250.0], [227.0, 248.0], [228.0, 249.0], [227.0, 248.0], [229.0, 250.0], [226.0, 247.0]]

[[34.5, 99.0], [22.5, 92.0], [34.5, 97.5], [24.0, 91.0], [33.5, 102.0], [34.5, 99.0]]

## tranform data

In [78]:
import pandas as pd
test_df = pd.read_csv('data/20-10-21/R1L1-J3-data.csv')
df_lamda = pd.read_excel('data/20-10-21-tranform/threshold_all.xlsx', sheet_name = 'yeojohnson')

test_df = test_df.drop(columns=['Unnamed: 0'])
test_df = test_df[test_df['status']== 'normal']
test_df = test_df[['date', 'time', 'temperature', 'voltage_1', 'voltage_2', 'voltage_3',
       'voltage_4', 'voltage_5', 'voltage_6', 'current_1', 'current_2',
       'current_3', 'current_4', 'current_5', 'current_6', 'status']]
test_df

,date,time,temperature,voltage_1,voltage_2,voltage_3,voltage_4,voltage_5,voltage_6,current_1,current_2,current_3,current_4,current_5,current_6,status
0,20/08/2021,07:00:00,28,227,227,227,227,227,227,0,0,0,0,0,0,normal
1,20/08/2021,07:00:00,28,227,226,227,228,228,228,0,0,0,0,0,0,normal
2,20/08/2021,07:00:00,28,227,227,227,227,227,227,0,0,0,0,0,0,normal
3,20/08/2021,07:00:00,28,227,227,228,227,227,227,0,0,0,0,0,0,normal
4,20/08/2021,07:00:00,28,228,227,228,227,227,228,0,0,0,0,0,0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50616,14/10/2021,15:47:25,35,238,238,240,237,238,240,14,14,16,16,0,16,normal
50617,14/10/2021,15:47:37,35,238,238,240,237,238,240,14,14,16,16,0,16,normal
50618,14/10/2021,15:47:49,35,238,238,240,237,238,241,14,14,16,16,0,16,normal
50817,14/10/2021,17:21:26,45,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,normal
51004,14/10/2021,18:47:35,42,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,normal

In [79]:
df_lamda

,Machine,Cur1_lamda,Cur2_lamda,Cur3_lamda,Cur4_lamda,Cur5_lamda,Cur6_lamda
0,R1L1-J2,0.832897,NaN,NaN,NaN,NaN,NaN
1,R1L1-J3,-0.676475,-0.613338,-0.482461,-0.679246,-0.025067,-0.615527
2,R1L1-R1,NaN,NaN,NaN,NaN,NaN,NaN
3,R1L1-S1,NaN,NaN,NaN,NaN,NaN,NaN
4,R1L1-S2,NaN,NaN,NaN,NaN,NaN,NaN
5,R1L1-S3,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
from scipy import stats
lamda = [0,0,0,0,0,0]
for idx in range(len(lamda)):
    lamda[idx] = df_lamda.iloc[1]['Cur'+str(idx+1)+'_lamda']
    

for i in range(len(lamda)):
    test_df['current_' + str(i+1)] = stats.yeojohnson(test_df['current_' + str(i+1)], lamda[i])

In [81]:
test_df

,date,time,temperature,voltage_1,voltage_2,voltage_3,voltage_4,voltage_5,voltage_6,current_1,current_2,current_3,current_4,current_5,current_6,status
0,20/08/2021,07:00:00,28,227,227,227,227,227,227,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,normal
1,20/08/2021,07:00:00,28,227,226,227,228,228,228,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,normal
2,20/08/2021,07:00:00,28,227,227,227,227,227,227,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,normal
3,20/08/2021,07:00:00,28,227,227,228,227,227,227,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,normal
4,20/08/2021,07:00:00,28,228,227,228,227,227,228,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50616,14/10/2021,15:47:25,35,238,238,240,237,238,240,1.241576,1.320710,1.544390,1.257340,-0.000000,1.340585,normal
50617,14/10/2021,15:47:37,35,238,238,240,237,238,240,1.241576,1.320710,1.544390,1.257340,-0.000000,1.340585,normal
50618,14/10/2021,15:47:49,35,238,238,240,237,238,241,1.241576,1.320710,1.544390,1.257340,-0.000000,1.340585,normal
50817,14/10/2021,17:21:26,45,0,-1,-1,-1,-1,-1,-2.014934,-1.958866,-1.848367,-2.017438,-1.516053,-1.960779,normal
51004,14/10/2021,18:47:35,42,-1,-1,-1,-1,-1,-1,0.553321,-1.958866,-1.848367,-2.017438,-1.516053,-1.960779,normal

## BackTest code on Dev

In [4]:
# import pandas as pd
# test_df = pd.read_csv('data/20-10-21/R1L1-J3-data.csv')
# test_df = test_df.drop(columns=['Unnamed: 0'])
# test_df = test_df[test_df['status']== 'normal']
# test_df = test_df.head(2)
test_df

,date,time,temperature,voltage_1,voltage_2,voltage_3,voltage_4,voltage_5,voltage_6,current_1,...,pf_4,pf_5,pf_6,frequency_1,frequency_2,frequency_3,frequency_4,frequency_5,frequency_6,status
0,20/08/2021,07:00:00,28,227,227,227,227,227,227,0,...,0,0,0,50,50,50,50,50,50,normal
1,20/08/2021,07:00:00,28,227,226,227,228,228,228,0,...,0,0,0,49,50,50,49,49,49,normal
2,20/08/2021,07:00:00,28,227,227,227,227,227,227,0,...,0,0,0,49,49,50,49,49,49,normal
3,20/08/2021,07:00:00,28,227,227,228,227,227,227,0,...,0,0,0,49,49,49,50,49,50,normal
4,20/08/2021,07:00:00,28,228,227,228,227,227,228,0,...,0,0,0,50,49,49,50,50,50,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50616,14/10/2021,15:47:25,35,238,238,240,237,238,240,14,...,0,0,0,50,49,50,50,50,50,normal
50617,14/10/2021,15:47:37,35,238,238,240,237,238,240,14,...,0,0,0,50,49,49,50,50,49,normal
50618,14/10/2021,15:47:49,35,238,238,240,237,238,241,14,...,0,0,0,50,49,50,49,49,49,normal
50817,14/10/2021,17:21:26,45,0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,normal
51004,14/10/2021,18:47:35,42,-1,-1,-1,-1,-1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,normal

In [82]:
from tqdm import tqdm

def decorater_process_stats(section_name:str, test_df: pd.DataFrame) -> pd.DataFrame:
  INDEX_TEMP_TO_CURRENT = (2,15)
  columns = test_df.keys()[INDEX_TEMP_TO_CURRENT[0]:INDEX_TEMP_TO_CURRENT[1]]
  status_json_list = []
  for row in tqdm(test_df.iterrows()):
    for column in columns:
      sensor_split = column.split('_')
      if column == 'temperature':
        sensorname,sensornumber = 'temperature','1'
      else:
        sensorname, sensornumber = sensor_split[0],sensor_split[1]

      sensorvalue = row[1][column]
      status = process_stats_model(section_name, sensorname, sensornumber, sensorvalue)
      status_json = {'date':row[1]['date'], 'time':row[1]['time'], 'sectionname':section_name, 'ai_status':status, 'sensor': column}
      status_json_list.append(status_json)
      status_df = pd.DataFrame(data=status_json_list)
  return status_df

result_df = decorater_process_stats('R1L1-J3',test_df)
result_df.to_csv('J3_tranform.csv')
result_df

9760it [1:25:03,  1.91it/s]

              date      time sectionname  ai_status       sensor
0       20/08/2021  07:00:00     R1L1-J3     normal  temperature
1       20/08/2021  07:00:00     R1L1-J3    warning    voltage_1
2       20/08/2021  07:00:00     R1L1-J3  emergenzy    voltage_2
3       20/08/2021  07:00:00     R1L1-J3  emergenzy    voltage_3
4       20/08/2021  07:00:00     R1L1-J3  emergenzy    voltage_4
...            ...       ...         ...        ...          ...
126875  14/10/2021  18:47:35     R1L1-J3  emergenzy    current_2
126876  14/10/2021  18:47:35     R1L1-J3  emergenzy    current_3
126877  14/10/2021  18:47:35     R1L1-J3  emergenzy    current_4
126878  14/10/2021  18:47:35     R1L1-J3  emergenzy    current_5
126879  14/10/2021  18:47:35     R1L1-J3  emergenzy    current_6

[126880 rows x 5 columns]

## BackTest code on production

In [ ]:
!pip install -q pydantic

     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10.1 MB 6.8 MB/s

In [ ]:
from pydantic import BaseModel,BaseConfig
from bson import ObjectId
from enum import Enum
from datetime import datetime
from typing import List

In [ ]:
class MongoModel(BaseModel):
  class Config(BaseConfig):
      allow_population_by_field_name = True
      json_encoders = {
        #   datetime: lambda dt: datetime(dt),
          ObjectId: lambda oid: str(oid),
      }

class SectionElectronicName(str,Enum):
    R1L1_J1 = 'R1L1-J1'
    R1L1_J2 = 'R1L1-J2'
    R1L1_J3 = 'R1L1-J3'
    R1L1_S1 = 'R1L1-S1'
    R1L1_S2 = 'R1L1-S2'
    R1L1_S3 = 'R1L1-S3'
    R1L1_R3 = 'R1L1-R3'
    R1L1_R1 = 'R1L1-R1'

class ElectricitySensor(MongoModel):
    name:str
    time:str
    number:str
    value:float 
    status:str
    
class ElectricityModel(MongoModel):
    factoryname:str 
    factory_id:int
    sectionname:SectionElectronicName
    section_id:str
    created_at_obj:datetime
    created_at:str 
    values:List[ElectricitySensor]

In [ ]:
# def input_status_logs(sensor_data:ElectricityModel,sensor_value:ElectricitySensor,time:str,status:str):
#   factory_id=sensor_data.factory_id,
#   sensor=sensor_value,
#   sectionname=sensor_data.sectionname.value, 
#   status=status
#   time=time
#   created_at=sensor_data.created_at


#   #convert tuple collectiojn
#   factory_id=factory_id[0]
#   sectionname=sectionname[0]

#   print("[MQTT][input status log][-] status: ", status)
#   if status == 'emergency' or status == 'warning':
#     collection = db[str(factory_id)]['notice'][sectionname]['electricity']
#     print("[MQTT][input status log][-] ",sensor)
#     sensorname = sensor[0].name,
#     sensornumber = sensor[0].number ,
#     created_at_obj = datetime.strptime(created_at,'%d/%m/%Y %H:%M:%S')
#     data = {
#       'factory_id':factory_id,
#       'sectionname':sectionname,
#       'sensor':f'{sensorname[0]}_{sensornumber[0]}',
#       'status':status,
#       'time':time,
#       'created_at':created_at,
#       'created_at_obj':created_at_obj
#     }
#     res = collection.insert_one(data)
#     found = collection.find_one({'_id':res.inserted_id})
#     print(" [+] input status logs")
#     return found
#   else:
#     #print('[-] input status logs')
#     pass
  
# def process_ai_model(sensor_data:ElectricityModel):
#   sensor_value_list = []
#   for sensor in sensor_data.values:
#     status = process_stats_model(sensor_data.sectionname,sensor.name,sensor.number,sensor.value)
#     input_status_logs(sensor_data,sensor,sensor.time,status)
#     sensor_value_list.append(sensor.value)
    
#   if (sensor.name == 'voltage' or sensor.name == 'current'):
#     print("[MQTT] process status on off")
#     process_on_off_machine(
#         sensor_data.factory_id,
#         sensor_data.sectionname,
#         sensor_value_list,)